.header {
	// min-height: 200px;
	padding: 2.5rem 0;
	background-size: cover;

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__title {
		color: $c-white;
	}
}

.app {
	&--dark .header {
		background-image: url("@assets/images/bg-mobile-dark.jpg");
	}

	&--light .header {
		background-image: url("@assets/images/bg-mobile-light.jpg");
	}

	@include min-query($d-tablet) {
		&--dark .header {
			background-image: url("@assets/images/bg-desktop-dark.jpg");
		}

		&--light .header {
			background-image: url("@assets/images/bg-desktop-light.jpg");
		}
	}
}
